html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

/* Scrollbar container */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle (scrollbar thumb) */
::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.3);
  /* subtle gray */
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.5);
}

body.dark ::-webkit-scrollbar-thumb {
  background-color: rgba(200, 200, 200, 0.2);
}

body.dark ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(200, 200, 200, 0.4);
}
